<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Filter</title>
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <!-- Contenido principal -->
    <main>
      <!-- Encabezado -->
      <header>
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <!-- Contenedor del título principal -->
              <div class="flex-container flex-end other-height">
                <h1 class="title no-margin">Foodmap</h1>
              </div>
              <!-- Decoración del encabezado -->
              <div class="flex-container flex-start header-design">
                <div class="white-square"></div>
                <hr class="header-hr">
                <div class="white-square"></div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- Sección contenedora del mapa-->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="container-map">
                <img src="../assets/images/image.JPG" alt="Mapa" class="img-responsive center-block">
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Sección contenedora del filtro -->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="container-filter text-center">
                <h2 class="second-title">Comida cerca de ti</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <div class="input-group select-like">
                    <input type="text" class="form-control gray-background input" placeholder="filtrar restaurantes" aria-label="...">
                    <span class="input-group-btn gray-background">
                      <button class="btn btn-default button" type="button">
                        <span class="glyphicon glyphicon-search gray"></span>
                      </button>
                    </span>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="image-section">
        <div class="container">
          <div class="row">
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail image-container big-image">
                <img src="../assets/images/image1.jpg" alt="Image 1">
              </a>
            </div>
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail image-container big-image">
                <img src="../assets/images/image2.jpg" alt="Image 2">
              </a>
            </div>
            <div class="col-xs-4 col-md-3">
              <a href="#" class="thumbnail image-container small-image">
                <img src="../assets/images/image3.jpg" alt="Image 3">
              </a>
            </div>
            <div class="col-xs-4 col-md-3">
              <a href="#" class="thumbnail image-container small-image">
                <img src="../assets/images/image4.jpg" alt="Image 4">
              </a>
            </div>
            <div class="col-xs-4 col-md-3">
              <a href="#" class="thumbnail image-container small-image">
                <img src="../assets/images/image5.jpg" alt="Image 5">
              </a>
            </div>
          </div>
        </div>
      </section>
    </main>
    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/restaurants-filter.js"></script>
  </body>
</html>
